/* li {
  :global {
    .selected:active {
      a {
        background-color: black;
        color: red;
      }
    }
  }
} */
ul.selected {
  background-color: red;
}

.Pagination {
  margin-left: 10%;
  list-style: none;
  display: flex;
}
.Pagination a {
  height: 45px;
  width: 45px;
  line-height: 42px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  display: inline-block;
  border: 1px solid #c4cbcf;
  margin: 0 1px;
  &:hover {
    background-color: #0c78ed;
    color: white;
  }
  @media (max-width: 1060px) {
    height: 35px;
    width: 35px;
    line-height: 25px;
  }

  @media (max-width: 768px) {
    height: 25px;
    width: 25px;
    line-height: 20px;
  }
}

.Pagination li:first-child {
  margin-right: 50px;
  @media (max-width: 1060px) {
    margin-right: 25px;
  }

  @media (max-width: 768px) {
    margin-right: 5px;
  }
}

.Pagination li:last-child {
  margin-left: 50px;
  @media (max-width: 1060px) {
    margin-left: 25px;
  }

  @media (max-width: 768px) {
    margin-left: 5px;
  }
}
li .selected {
  background-color: red;
}
/* ul.paginate {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5rem;
}

ul.paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
ul.paginate li.previous a,
ul.paginate li.next a,
ul.paginate li.break a {
  border-color: transparent;
}
ul.paginate li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
ul.paginate li.disabled a {
  color: grey;
}
ul.paginate li.disable,
ul.paginate li.disabled a {
  cursor: default;
} */
